{% extends "base.twig" %}

{% block title %}Home.twig {% endblock %}

{% block content %}

    {# array of keys #}
    {{- nav|keys|join(' | ') -}}

    <p>Hello <em> {% if name is not empty %}
    {{- name|title -}}
    {% else -%}
    World
    {%- endif %}

    </em></p>

    {# navigation #}
    <ul>
        {% for item in nav %}
            {{ include("nav-item.twig") }}
        {% else %}

        {% endfor %}
    </ul>

    {# basic countdown timer #}
    {% if date() < date('2020-01-01') %}
    {% set difference = date().diff(date('2020-01-01')) %}
    {{ difference.days }} until the end!
    {% else %}
    Countdown over
    {% endif %}

    {# Basic Twig Syntax 
    {{- "<em>"~name~"</em>"|title|raw -}}
    {% set namestr = '<em>'~names~'</em>' %}
    {{- namestr|title|raw -}} 
    {{- "<em>world</em>"|title|raw -}}

        {% filter upper|raw %}
            <em>world</em>
        {% endfilter %}

    #}  

{% endblock %}

{% block footer %}
    <footer>
        <p>&copy; {{ "now"|date('Y') }} Jonnie Grieve Digital Media</p>
    </footer>

    </body>
    </html>

{% endblock %}